*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.5s;
}

#main-container{
    width: 70%;
    max-width: 800px;
    padding: 18px;
    border-radius: 20px;
    border-top: 3px solid rgb(255, 0, 247);
    transition: background-color 0.5s;
}

#logo-heading-container{
    width: 100%;
    display: flex;
    font-size: 15px;
    align-items: center;
}

#logo-heading-container i{
    font-size: 30px;
    /* border: 1px solid red; */
    margin-right: 4px;
    color: rgb(255, 0, 247);
}

#header{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
}

#theme-button{ 
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;
    transition: background-color 0.5s;
}

#prompt-container{
    width: 100%;
}

#prompt-container textarea{
    margin-top: 20px;
    padding: 10px 0px 10px 20px;
    width: 100%;
    resize: none;
    height: 10vh;
    border-radius: 10px;
    text-align: left; 
    border: none;
    clip-path: inset(0 round 10px);
}


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track
{
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(146, 14, 156, 1) 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.323);
    border-radius: 20px;
}

#options-div{
    width: 100%;
    height: 35px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-between;


}

#generate-button{
    background-color: rgb(255, 0, 247);
    color: white;
}

#options-div{
    display: flex;
    justify-content: space-between;
    height: 40PX;
    width: 100%;

}

select, button {
    height: 100%;
    border-radius: 17px;
    width: 20%;
}

/*Button Theme CSS*/

.light-theme-button{
    background-color: black;
    color: white;
}

.dark-theme-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*Body Theme CSS*/
.light-theme-body{
    background-color: rgb(211, 180, 249);
}

.dark-theme-body{
    background-color: rgb(33, 32, 32);
}

/*Main Container Theme*/
.light-theme-main-container{
    background-color: rgb(255, 254, 254);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(0, 0, 0);
}

.dark-theme-main-container{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 18px 10px 0 rgb(255, 0, 247, 0.1), 0 8px 20px 0 rgb(255, 0, 247, 0.1);
    color: white;
}


